@charset "UTF-8";

/* MAIN-S */

/* MAIN COMMON */
.sec {padding: 50px 0 ;}
.tit { 
  margin-bottom: 30px;
  height: 50px;
  font-weight: 700; font-size: 30px; line-height: 50px; text-align: center;
}
.desc {}
.container-wrap{ padding-top: 50px;}
.container-wrap section{padding: 50px 0 ;}

/* visual */
.visual {
  width: 100%; height: 550px;
  overflow: hidden;
}
.visual .slick-prev{
  border: 10px solid #fff;
  left: 100px; z-index: 10000;
}
.slide {
  width: 100%; height: 550px;
  padding-top: 100px;
  font-weight: 700; font-size: 120px; line-height: 450px; color: #fff; text-align: center; 
  background-repeat: no-repeat; background-position: center center; background-size: cover;
}
.slide1{background-image: url(../img/mainslide01.jpg);}
.slide2{background-image: url(../img/mainslide02.jpg);}
.slide3{background-image: url(../img/mainslide03.jpg);}

.slick-dotted.slick-slider {margin-bottom: 0;}
.slick-dots {  bottom: 10px;}
.slick-dots li.slick-active button:before{ color: #fff;}



/* top3 */
.top3 {
  width: 100%;
  background-image: linear-gradient( #f4f0e9 ,#f4f0e9); background-repeat: no-repeat; background-position: 0 200px; background-size: 100% 31em;
}
.top3 .tit{
  
}
.top3-wrap{width: 100%;}
.top3-article{
  float: left;
  width: calc( ( 100% - 40px ) / 3 );
}
.top3-article + .top3-article {margin-left: 20px;}
.top3-article figure{ width: 100%;}
.top3-article figure img{ width: 100%;}
.top3-article-txt{
  padding: 20px 30px;
  text-align: center;
}
.top3-article-txt em{
  display: block;
  margin-bottom: 10px;
  font-weight: 700; font-size: 20px;
}
.top3-article-txt p{
  margin-bottom: 30px;
  font-size: 16px;
}
.top3-article-txt .more{
  font-size: 14px;
}

/* bbs */
.bbs article{
  float: left;
  height: 200px;
}
.sns{
  width: 60%;
  margin-right: 5%; padding: 50px;
  background: url(../img/bg_app.jpg) no-repeat center center / cover;
}
.sns a{
  float: left;
  padding: 27px;
  width: 48%; height: 100px;
  border: 2px solid #fff;
  font-size: 20px; color: #fff; line-height: 42px;
}
.sns a:nth-of-type(1){margin-right: 4%;}
.sns a::before{content: "";
  float: left;
  width: 42px; height: 42px;
  margin-right: 10px;
  background-size: contain;
}
.sns a:nth-of-type(1)::before {background-image: url(../img/ico_kakao.png);}
.sns a:nth-of-type(2)::before {background-image: url(../img/ico_phone.png);}
.notice{ 
  width: 35%;
  position: relative;
}
.notice h4{
  margin-bottom: 20px;
  font-size: 30px;
}
.notice-list{
  width: 100%;
}
.notice-list li{
  width: 100%;
  height: 30px;
}
.notice-list li a{
  display: block;
  width: 100%;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
.notice .more{
  position: absolute; right: 0;top: 0;
}

/* aside */
.quick{
  width: 100px;
  position: fixed; right: 0; top: 150px;
}
.quick ul{
  background-color: #555;
}
.quick li{
  height: 50px;
}
.quick li a{
  color: #fff;
}
.quick li a span { display: block; }
.quick-top { width: 100px; height: 30px;}

/* MAIN-E */




/********** **********
MAX-WIDTH : 1280
********** **********/
@media ( max-width : 1280px ) {
  /* MAIN-COMMON */
  .tit{color: tomato;}

  /* visual */

  /* top3 */
  .top3 {}
  .top3 .tit{}
  .top3-wrap{}
  .top3-article{
    float: none;
    width: 100%;
  }
  .top3-article::after{content: "";display: block; clear: both;}
  .top3-article + .top3-article {margin-left: 0}
  .top3-article figure{ 
    float: left;
    width: calc( ( 100% - 20px ) / 2 );
    margin-right: 20px;
  }
  .top3-article figure img{ }
  .top3-article-txt{  }
  .top3-article-txt em{  }
  .top3-article-txt p{  }
  .top3-article-txt .more{}

  /* bbs */
  .bbs{}
  .bbs article{}
  .sns{
    width: 48%;
    margin-right: 4%;
  }
  .sns a{
    padding: 10px;
    font-size: 16px; line-height: 20px; text-align: center;
  }
  .sns a:nth-of-type(1){margin-right: 4%;}
  .sns a::before{content: "";
    display: block; float: none;
    margin: 0 auto;
  }
  .sns a:nth-of-type(1)::before {background-image: url(../img/ico_kakao.png);}
  .sns a:nth-of-type(2)::before {background-image: url(../img/ico_phone.png);}
  .notice{ 
    width: 48%;
    position: relative;
  }
  .notice h4{
    margin-bottom: 20px;
    font-size: 30px;
  }
  .notice-list{width: 100%;}
  .notice-list li{width: 100%; height: 30px;}
  .notice-list li a{
    display: block;
    width: 100%;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  }
  .notice .more{ position: absolute; right: 0;top: 0;}

}




/********** **********
MAX-WIDTH : 780
********** **********/
@media ( max-width : 780px ) {
  
    /* bbs */
    .bbs article{
      float: none;
      height: 200px;
    }
    .sns{
      width: 100%;
      margin-right: 0;  margin-bottom: 30px;
    }
  
    .notice{  width: 100%;  }  


  /* aside */
  .quick{ 
    width: 100%; height: 40px;
    top: auto; bottom: 0;
  }
  .quick ul {height: 40px;}
  .quick li{ 
    float: left;
    width: calc( 100% / 3 ); height: 40px;
  }
  .quick li a  span {display: none;}
  .quick-top { display: none;}
}